@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Chela+One&family=Inconsolata:wght@200..900&family=Luckiest+Guy&family=Mochiy+Pop+P+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pontano+Sans:wght@300..700&family=Protest+Strike&family=Spicy+Rice&display=swap');

* {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

.color-1 {
  background: rgba(247, 237, 232, 1);
}

.color-2 {
  background: rgba(237, 243, 247, 1);
}

.title {
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -0.04em;
  text-align: center;
}

.sub-title {
  text-align: center;
  font-size: 60px;
}

.title span {
  color: rgba(205, 70, 49, 1);
}

.btn {
  border-radius: 8px;
  padding: 12px 24px;
}

.description {
  font-weight: 500;
  line-height: 25.6px;
  text-align: center;
  width: 375px;
}

section {
  padding: 100px 0;
}

.btn_black:hover {
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}

.block-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 40px;
}

.block-1 ul {
  display: flex;
  gap: 27px;
}

.block-1 p {
  width: 275px;
  height: 44px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  color: rgba(77, 77, 77, 1);
}

.block-2 ul li {
  margin-bottom: 20px;
}

.block-3 ul li {
  margin-bottom: 20px;
}

.block-3 ul li:hover {
  margin-bottom: 20px;
}

.hov {
  transition: all .5s;
}

.hov:hover {
  color: rgba(205, 70, 49, 1);
}

.block-4 p {
  color: rgba(77, 77, 77, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  margin-bottom: 29px;
}

.block-4 ul {
  display: flex;
  gap: 38px;
  margin-bottom: 60px;
}
