* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}

.heading {
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -0.04em;
  max-width: 513px;
  text-align: center;
}

.description {
  font-weight: 500;
  line-height: 25.6px;
  text-align: center;
}

.orange {
  color: #CD4631;
}

.color__1 {
  background-color: #F7EDE8;
}

.color__2 {
  background-color: #EDF3F7;
}

.h1__title {
  font-size: 59.3px;
  line-height: 71.16px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 20px;
}

.h2__title {
  font-size: 36.65px;
  line-height: 51.31px;
  letter-spacing: -0.02em;
  text-align: center;
}

.h3__title {
  font-size: 22.65px;
  line-height: 31.71px;
  letter-spacing: -0.02em;
  color: #4D4D4D;
}