@import url('./reset.css');

/* ======================================HEADER ============================== */

header {
    padding-top: 24px;
    margin-bottom: 80px;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

nav ul li {
    transition: all .5s;
}

nav ul li:hover {
    color: rgba(205, 70, 49, 1);
}

.btn_box {
    display: flex;
    gap: 20px;
}

.btn_white {
    border: 1px solid #000;
}

.btn_black {
    background-color: #000;
    color: #fff;
    transition: all .5s;
}

/* ===========================================main========================== */

.main_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

/* ============================================== CAROUSEL ========================= */
.carousel {
    position: relative;
    height: 373px;
    overflow: hidden;
    padding: 0;
    margin-bottom: 100px;
}

.carousel_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.slide {
    position: relative;
}

.socials {
    display: flex;
    position: absolute;
    gap: 10px;
    top: 20px;
    right: 20px;
}

.gp::after {
    content: '';
    background: url('../images/slide/podcast.svg');
    display: block;
    width: 24px;
    height: 24px;
}

.spotik::after {
    content: '';
    background: url('../images/slide/spotify.svg');
    display: block;
    width: 24px;
    height: 24px;
}

.youtube::after {
    content: '';
    background: url('../images/slide/youtube.svg');
    display: block;
    width: 24px;
    height: 24px;
}

/* ============================================BANNER============================ */
.banner {
    padding-top: 0;
}

.banner_inner {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-width: 2px 0 2px 0;
}

.banner_inner span {
    font-size: 22.65px;
    font-weight: 700;
    line-height: 31.71px;
    letter-spacing: -0.02em;
    text-align: left;
}

/* ==================================================TALK ==================================== */
.talk {
    background-color: #fff;
}

.talk-title {
    margin-bottom: 100px;
}

.idea-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 210px;
    margin-bottom: 120px;
}

.idea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.idea img {
    width: 59%;
}

.idea p {
    max-width: 470px;
    text-align: center;
}

.daily {
    width: 100%;
    height: 300px;
    background-color: rgba(247, 237, 232, 1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.daily p {
    text-align: center;
    font-size: 37px;
    margin-bottom: 40px;
}

.des {
    display: flex;
    font-size: 14px;
    gap: 10px;
}

/* =======================================================Reviews=================================== */
.reviews {
    background: rgba(237, 243, 247, 1);
}

.reviews .container {
    overflow: hidden;
}

.reviews-container {
    display: flex;
    gap: 55px;
    transition: all .5s;
}

.rev-title {
    margin-bottom: 20px;
}

.description-rev {
    font-size: 22.65px;
    font-weight: 500;
    line-height: 36.24px;
    text-align: center;
    color: rgba(77, 77, 77, 1);
    margin-bottom: 100px;
}

.reviews-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 570px;
    height: 360px;
    border-radius: 8px 0px 0px 0px;
    background-color: #fff;
}

.reviews-slide p {
    width: 490px;
    height: 108px;
    font-size: 22.65px;
    font-weight: 500;
    line-height: 36.24px;
    margin-left: 40px;
}

.reviews-slide .des {
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    margin-left: 40px;
}

.arrow-box {
    display: flex;
    gap: 20px;
    margin-top: 60px;
}

.arrow-prev,
.arrow-next {
    cursor: pointer;
    transition: all .2s;
}

.arrow-prev:hover,
.arrow-next:hover {
    transform: scale(1.2);
}

.arrow-prev:hover path,
.arrow-next:hover path {
    stroke: rgba(205, 70, 49, 1);
}

/* ===================================================membership===================== */
.grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 80px 20px;
    margin-bottom: 100px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    max-width: 100%;
}

.grid-item img {
    width: 25%;
}

.grid-item span {
    font-size: 22.65px;
    font-weight: 700;
    line-height: 31.71px;
    letter-spacing: -0.02em;
}

.grid-item p {
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    max-width: 338px;
    text-align: center;
}


/* ============================================Episodes================================ */

.ep-box {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}

.ep-item {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 16px;
    cursor: pointer;
    transition: all .5s;
    background-color: #fff;
}

.ep-item:hover {
    box-shadow: 10px 10px 0px 0px rgba(129, 173, 200, 1);
}

.ep-item img {
    width: 166px;
    height: auto;
    border-radius: 12px;
}

.ep-info {
    display: flex;
    flex-direction: column;
}

.ep-chapter {
    margin-bottom: 4px;
    color: rgba(205, 70, 49, 1);
}

.ep-item .name {
    font-size: 22.65px;
    font-weight: 700;
    line-height: 31.71px;
    letter-spacing: -0.02em;
}

.ep-description {
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    color: rgba(77, 77, 77, 1);
}

/* ===================================================Sponsor=========================================== */

.rates-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.rates-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 375px;
    border: 1.5px solid #000;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.first:hover {
    background-color: #f7ede8;
    border-color: rgba(205, 70, 49, 1);
}

.first:hover~.second {
    background-color: #f7ede8;
    border-color: rgba(205, 70, 49, 1);
}

.title-rates {
    font-size: 36.65px;
    font-weight: 700;
    line-height: 51.31px;
    letter-spacing: -0.02em;
    margin: 0 0 20px 40px;
}

.description-rates {
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    max-width: 292px;
    margin: 0 0 20px 40px;
}

.rates-info {
    display: flex;
    gap: 50px;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.money {
    color: rgba(205, 70, 49, 1);
}

.second {
    width: 100%;
    border: 1.5px solid #000;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    transition: all .5s;
}

.second li {
    margin-bottom: 10px;
}

.h1 {
    margin: 40px 0;
}

/* ============================================ARTICLE============================ */
.article-box {
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
}

.article-item {
    padding: 16px;
    border: 2px solid #000;
    border-radius: 8px;
    transition: all .5s;
}

.article-item:hover {
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
}

.article-item:hover .article-title {
    color: rgba(205, 70, 49, 1);
}

.article-item img {
    max-width: 100%;
    margin-bottom: 40px;
}

.article-name {
    color: rgba(77, 77, 77, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
    margin-bottom: 6px;
}

.article-title {
    font-size: 36.65px;
    font-weight: 700;
    line-height: 51.31px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000;
    margin-bottom: 20px;
    transition: all .5s;
}

.article-description {
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    color: rgba(77, 77, 77, 1);
}


/* ==========================FOOOTER================================= */
.footer-inner {
    display: flex;
    justify-content: space-between;
}

.block-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 40px;
}

.block-1 ul {
    display: flex;
    gap: 27px;
}

.block-1 p {
    width: 275px;
    height: 44px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    color: rgba(77, 77, 77, 1);
}

.block-2 ul li {
    margin-bottom: 20px;
}

.block-3 ul li {
    margin-bottom: 20px;
}

.block-3 ul li:hover {
    margin-bottom: 20px;
}

.hov {
    transition: all .5s;
}

.hov:hover {
    color: rgba(205, 70, 49, 1);
}

.block-4 p {
    color: rgba(77, 77, 77, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    margin-bottom: 29px;
}

.block-4 ul {
    display: flex;
    gap: 38px;
    margin-bottom: 60px;
}

/* =================================ADAPTIVE===================== */
@media (min-width: 1200px) {}

@media (max-width:992px) {
    .rates-box {
        grid-template-columns: repeat(3, 250px);
    }

    .rates-info {
        gap: 25px;
    }

    .rates-info a {
        padding: 10px 5px;
    }

    .block-4 .first-ul {
        display: flex;
        flex-direction: column;
    }

    .block-2, .block-3 {
        display: none;
    }
}

@media (max-width:768px) {
    nav ul {
        gap: 30px;
    }

    .banner_inner a img {
        width: 100%;
    }

    .rates-box {
        grid-template-columns: repeat(3, 220px);
    }

    .footer-inner {
        justify-content: space-around;
    }

}

@media (max-width:480px) {
    .header_inner {
        flex-direction: column;
        gap: 50px;
    }
    
    .idea-box {
        gap: 0;
    }

    .talk {
        display: none;
    }

    .membership {
        display: none;
    }

    .ep-box {
        grid-template-columns: repeat(1, 2fr);
    }

    .rates-box {
        grid-template-columns: repeat(2, 220px);
    }


    .article-title {
        font-size: 22px;
        margin-bottom: 0;
    }
    
    .article-description {
        font-size: 10px;
    }
}



@media (min-width:320px) {}